.job-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  box-sizing: border-box;
}

.job-header {
  margin-bottom: 10px;
}

.job-company {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.job-title {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.job-details {
  margin-top: 10px;
}

.job-detail-item {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.d-day-badge {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.job-link {
  display: block;              /* 인라인 아님! */
  width: 100%;                 /* 카드 폭과 동일하게 */
  max-width: 100%;             /* 혹시 카드 내부 제한 있을 경우 */
  text-align: center;
  padding: 10px 0;
  background-color: #007BFF;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 16px;
  margin-top: auto;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
}

.job-link:hover {
  background-color: #0056b3;
}


.jobs-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.jobs-source-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  color: #555;
}
